body {
  background-color: #FFF3D6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-container {
  background-color: #FFFA90;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

h2 {
  font-weight: 700;
  margin-bottom: 25px;
  color: #333;
}

label {
  font-weight: 600;
  color: #555;
}

.form-control {
  border-radius: 10px;
  border: 1px solid #ccc;
  transition: all 0.2s ease-in-out;
}

.form-control:focus {
  border-color: #4A90E2;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.4);
}

.btn-connexion {
  background-color: #4A90E2;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-connexion:hover {
  background-color: #357ABD;
}

.btn-inscription {
  background-color: #4A90E2;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: bold;
  width: 100%;
  transition: background-color 0.3s ease;
}

.btn-inscription:hover {
  background-color: #357ABD;
}

.form-text a,
.form-check-label a {
  color: #6c757d;
/*  text-decoration: none;*/
  transition: color 0.3s;
}

.form-text a:hover,
.form-check-label a:hover {
/*  color: #4A90E2;*/
}