body {
/*  background-color: #0D1B2A;*/
 background: linear-gradient(90deg, #24344D 0%, #152C45 100%);

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input-error {
    border-color: red !important;
    background-color: #ffe6e6;
}

.form-container {
  background-color: #FFFA90;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

h2, h3, h5 {
  font-weight: 700;
  margin-bottom: 20px;
  color: #333;
}

label {
  font-weight: 600;
  color: #555;
}

.form-control {
  border-radius: 10px;
  border: 1px solid #ccc;
  transition: all 0.2s ease-in-out;
}

.form-control:focus {
  border-color: #4A90E2;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.4);
}

.btn-connexion {
  background-color: #4A90E2;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-connexion:hover {
  background-color: #357ABD;
}


.btn-cancel {
  background-color: #F0F0F0;
  color: grey;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}


.btn-cancel:hover {
  background-color: #444444;
  color: white;
}
