    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-color: #f8f9fa;
        font-family: Arial, sans-serif;
    }
    .postit-container {
        width: 500px; /* Augmenter la largeur pour un plus grand carré */
        background-color: #fffa90;
        padding: 25px; /* Ajouter plus de padding pour le confort */
        border-radius: 15px;
        box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3); /* Ombre plus marquée */
        text-align: center;
    }
    .postit-info p {
        margin: 15px 0;
        color: #333;
    }
    .title {
        font-size: 24px; /* Augmenter la taille du titre */
        font-weight: bold;
        margin-bottom: 10px;
    }
    .dates {
        font-size: 14px; /* Réduire la taille des dates */
        color: #555; /* Rendre le texte des dates plus discret */
        font-weight: normal;
    }
    .join-button {
        display: inline-block;
        padding: 12px 20px;
        margin: 10px 5px;
        text-decoration: none;
        color: white;
        background-color: #007bff;
        border-radius: 5px;
        font-size: 16px;
    }
    .join-button:hover {
        background-color: #0056b3;
    }
    .delete-button {
        background-color: #dc3545;
    }
    .delete-button:hover {
        background-color: #a71d2a;
    }